.lateral-nav-container {
    font-family: var(--font-family-heading);
    padding: var(--padding-2) 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    flex: 1;
}