nav  ul{
    display: flex;
    gap: 2rem;
    padding: 1rem 3rem;
    justify-content: flex-end;
	font-family: var(--font-family-heading);
}

nav ul li {
    padding-bottom: 0.5rem;
    position: relative;
}


.link.active {
    color: var(--primary);
}

.link:hover {
    color: var(--primary);
}

.link::after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--primary);
	opacity: 0;
	transition: opacity var(--animation-timing), transform var(--animation-timing);
}

.link:hover::after,
.link:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

.link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

.link:hover::after,
.link:focus::after{
	transform: scale(1);
}

@media (max-width:650px) {
    nav ul {
        justify-content: center;
    }
}