.social-netwrok-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.icon {
    color: var(--white);
    font-size: 1.5rem;
    transition: all var(--animation-timing);
}

.icon:hover {
    color: var(--primary);
    transform: scale(1.5);
}