.not-found-container {
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: var(--padding-3);
    gap: var(--gap-2);
}

.not-found-container h2 {
    font-size: 108px;
}

.not-found-container p {
    font-family: var(--font-family-heading);
}

.not-found-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
}

.not-found-container img {
    width: 40%;
    height: 100%;
    min-width: 350px;
}

@media (max-width: 1224px) {
    .not-found-text  {
        width: 80%;
    }
}